In [1]:
import requests
import pandas as pd

In [2]:
Data=pd.DataFrame()
for j in range(1,501):
    response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=11f6f3d8bb987ba9dd5b86cc636cb615&language=en-US&page={}'.format(j)).json()
    title=[]
    popularity=[]
    vote_average=[]
    vote_count=[]
    overview=[]
    original_language=[]
    release_date=[]
    for i in response['results']:
        title.append(i['title'])
        popularity.append(i['popularity'])
        vote_average.append(i['vote_average'])
        vote_count.append(i['vote_count'])
        overview.append(i['overview'])
        original_language.append(i['original_language'])
        if 'release_date' in i and i['release_date'] is not None:
            release_date.append(i['release_date'])
        else:
            release_date.append('N/A')
        
    d={'title':title,'popularity':popularity,'vote_average':vote_average,'vote_count':vote_count,'overview':overview,'original_language':original_language,'release_date':release_date}
    data=pd.DataFrame(d)
    Data=pd.concat([Data,data],ignore_index=True)

In [3]:
Data.shape

(10000, 7)

In [4]:
Data

,title,popularity,vote_average,vote_count,overview,original_language,release_date
0,Knights of the Zodiac,3362.234,6.6,348,"When a headstrong street orphan, Seiya, in sea...",en,2023-04-27
1,Fast X,3202.443,7.4,2479,Over many missions and against impossible odds...,en,2023-05-17
2,San Andreas,2234.498,6.2,7731,In the aftermath of a massive earthquake in Ca...,en,2015-05-27
3,Guardians of the Galaxy Vol. 3,2239.681,8.1,2467,"Peter Quill, still reeling from the loss of Ga...",en,2023-05-03
4,Spider-Man: Across the Spider-Verse,1573.313,8.5,2093,"After reuniting with Gwen Stacy, Brooklyn’s fu...",en,2023-05-31
...,...,...,...,...,...,...,...
9995,Cosmoball,11.528,6.4,193,Cosmoball is a mesmerizing intergalactic game ...,ru,2020-08-27
9996,Thoroughbreds,11.528,6.4,1023,Two teenage girls in suburban Connecticut reki...,en,2018-03-09
9997,Book of Love,11.527,5.7,96,"Henry, an English writer who has written a new...",en,2022-01-06
9998,Amor Bandido,11.527,6.7,104,"Joan is a naïve, 16-year-old who falls in love...",es,2021-03-18
9999,All Roads Lead to Rome,11.527,5.0,220,"Maggie is an uptight, single mother and colleg...",en,2016-01-14

In [5]:
Data.to_csv('pop_movies_data.csv', index=False)

In [6]:
pop_movies=pd.read_csv('pop_movies_data.csv')

In [7]:
pop_movies.head()

,title,popularity,vote_average,vote_count,overview,original_language,release_date
0,Knights of the Zodiac,3362.234,6.6,348,"When a headstrong street orphan, Seiya, in sea...",en,2023-04-27
1,Fast X,3202.443,7.4,2479,Over many missions and against impossible odds...,en,2023-05-17
2,San Andreas,2234.498,6.2,7731,In the aftermath of a massive earthquake in Ca...,en,2015-05-27
3,Guardians of the Galaxy Vol. 3,2239.681,8.1,2467,"Peter Quill, still reeling from the loss of Ga...",en,2023-05-03
4,Spider-Man: Across the Spider-Verse,1573.313,8.5,2093,"After reuniting with Gwen Stacy, Brooklyn’s fu...",en,2023-05-31

In [8]:
pop_movies.columns

Index(['title', 'popularity', 'vote_average', 'vote_count', 'overview',
       'original_language', 'release_date'],
      dtype='object')